.mainBtn{
    background: lightblue;
}


/*
#mainSpace{
    display: grid;
    grid-template-rows: repeat(6, 80px);
    grid-template-columns: repeat(5, 80px);
}
*/

.flipBtn{
    background: white;
    animation: spin-around 0.88s ease-out;
    transition: background 0.3s ease-in;
    color: black;
}

@keyframes spin-around{
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}




















































