h1{
    background: hsl(60, 100%, 94%);
    padding: 8px;
    text-align: center;
    font-family: monospace, helvetica, sans-serif;
    border-radius: 6px;
    border: 4px solid hsla(60, 13%, 78%, 0.552);
    margin-bottom: 4px;
}

body{
    background: hsl(69, 11%, 77%);
}

#settingSpace{
    background: lavenderblush;
    text-align: center;
    padding: 22px;
    min-height: 88px;
    border-radius: 6px;
    border: 4px solid hsla(0, 0%, 83%, 0.31);
}

#txt_numPlayer{
    padding: 3px;
    margin-right: 4px;
    font-weight: bold;
    font-family: monospace;
    font-size: 0.9rem;
}

#infoLabel{
    margin-top: 15px;
    font-size: 1.2rem;
    font-family: arial;
    font-weight: 520;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 6px;
    background: hsl(79, 24%, 84%);
    border: 4px solid hsl(79, 24%, 82%);
}

#num_playerSelector{
    background: hsl(0, 53%, 83%);
    border: 2px solid hsl(0, 53%, 77%);
    border-radius: 4px;
    cursor: pointer;
}

#initSpace{
    text-align: center;
    margin-top: 8px;
}
#playBtn{
    width: 122px;
    height: 44px;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.1rem;
    background: hsl(240, 100%, 56%);
    color: lavenderblush;
    border: 4px solid hsl(240, 100%, 48%);
    border-radius: 6px;
    margin: auto;
}

#playBtn:hover{
    background: hsl(240, 100%, 69%);
    border: 4px solid hsl(240, 100%, 69%);
}

#restartBtn{
    margin: auto;
    cursor: pointer;
    margin-top: 8px;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.1rem;
    background: hsl(240, 100%, 56%);
    color: lavenderblush;
    border: 4px solid hsl(240, 100%, 48%);
    border-radius: 6px;
}

#restartBtn:hover{
    background: hsl(240, 100%, 69%);
    border: 4px solid hsl(240, 100%, 69%);
}

#scoreSpace{
    background: lavenderblush;
    margin-top: 6px;
    border: 4px solid;
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    border: 4px solid hsla(0, 0%, 83%, 0.31);
    border-radius: 6px;
}

#scoresLabel{
    font-family: helvetica;
    font-weight: bold;
    font-size: 1.2rem;
}

.scoreLabel{
    font-family: monospace;
    background: hsl(350, 39%, 85%);
    padding: 4px;
    margin-top: 3px;
    font-size: 1rem;
    border-radius: 4px;
    border: 2px solid hsl(9, 100%, 88%);
}

.mainBtn{
    background: lavender;
    font-size: 1.8rem;
    margin: 1px;
    border-radius: 4px;
    color: lavender;
    border: 3px solid hsl(240, 67%, 93%);
}

.flipBtn{
    background: honeydew;
    animation: spin-around 0.69s ease-out;
    transition: background 0.3s ease-in;
    color: hsl(240, 19%, 35%)
}

@keyframes spin-around{
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(180deg);
    }
}




















































